@model Adrian.mvc.Models.ErrorViewModel

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="row mt-5">
    <div class="col-12">
        <div class="card shadow bg-white rounded">
            <div class="jumbotron m-2">
                <h3 class="text-center">@Model.Mensaje</h3>
            </div>
        </div>
    </div>
</div>

